html,
body,
#banner {
  margin: 0;
}

html,
body {
  overflow-x: hidden !important;
  width: 100% !important;
}

body {
  font-family: 'Lato', sans-serif;

}

.section {
  padding: 80px 0;
}

:root {
  --primary-color: #0e2c2e;
  --secondary-color: #565656;
  --bg_color:#dfe6e9;


}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;

}

p {

  color: #565656;
  line-height: 28px;
  font-size: 18px;
}

li {
  color: #565656;
  line-height: 28px;
  font-size: 18px;
}

h1 {
  font-size: 55px;
  margin-bottom: 20px;
}

.heading_h2 {
  font-size: 30px;
  margin-bottom: 20px;
  font-weight: 500;
}

.container {
  width: 100%;
  max-width: 1440px !important;
  padding: 0 15px;
  margin: 0 auto;
}

.button {
  background: var(--primary-color);
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  text-transform: capitalize;
  display: inline-block;
  border-radius: 4px;
  position: relative;
  border: 3px solid #0e2c2e;
  background-image: -webkit-linear-gradient(30deg, #0e2c2e 50%, transparent 50%);
  background-image: linear-gradient(30deg, #0e2c2e 50%, transparent 50%);
  background-size: 500px;
  background-repeat: no-repeat;
  background-position: 0%;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 0.3s ease-in-out;
}

.button:hover {
  transition: 0.3s;
  color: #000 !important;
  background-color: #fff;
  background-position: 110%;
}

/* /header/ */


.nav {
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  padding: 20px 60px;
  text-transform: uppercase;
}

.nav>.nav-header {
  flex: 0.95;
  padding-left: 1rem;
}

.nav>.nav-header>.nav-title {
  font-size: 22px;
  color: #000;
}

.nav>.nav-list {
  display: flex;
  gap: 2rem;
  margin-bottom: 0;
}

.nav>.nav-list>li {
  list-style-type: none;
}

.nav>.nav-list>li a {
  text-decoration: none;
  color: #bbb;
  cursor: pointer;
  font-weight: 600;
}

.nav>.nav-list>li a.active {
  color: #0e2c2e
}

.nav>.nav-list>li a:hover {
  color: #0e2c2e;

}

.nav>#nav-check {
  display: none;
}

header {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  position: fixed;
  width: 100%;
  z-index: 999;
}

.nav-title a img {
  max-width: 120px;
}


/* banner */

#banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}

.sub_banner img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.sub_banner {
  position: relative;
}

.sub_banner_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  margin-top: 70px;
}

.sub_banner::before {
  position: absolute;
  content: '';
  background: #000000a8;
  width: 100%;
  height: 100%;
  z-index: 0;
}

/* Destinations en Vedette  */

.why_card img {
  max-width: 60px;
}

.whychooseus h2 {
  margin-bottom: 60px;
  color: var(--primary-color);
}

.why_card h3 {
  margin: 20px 0;
  font-size: 24px;
  font-weight: 600;
  color: var(--primary-color);
}

.why_card {
  text-align: center;
  border-radius: 5px;
  height: 100%;
  padding: 30px 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border: 1px solid #0e2c2e;
  ;
}

.why_card p {
  line-height: 26px;
  color: var(--secondary-color);
}

/* 
Journey-begins */

.journey-begins {
  position: relative;
  padding: 60px 15px;
}

.journey-begins:after {
  content: "";
  background: #dfe6e9;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
}

.journey-inner {
  position: relative;
  z-index: 10;
  text-align: center;
  max-width: 1000px;
  margin: auto;
}

.journey-inner h2 {
  margin-bottom: 20px;
}

/* Casinos les plus recommandés*/

.hotel_card .hotel_des {
  padding: 30px 20px;
}

.hotel_card img {
  width: 100%;
  height: 360px;
  object-fit: cover;
}

.hotel_card {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 15px;
  height: 100%;
  overflow: hidden;
}

/* best_casino_vages */

.best_casino_vages {
  background-color: whitesmoke;
}

.best_casino_vages img {
  border-radius: 15px;
}

.left_side_vegas ul li {
  margin: 8px 0;
}

.best_casino_vages .even {
  flex-direction: row-reverse;
}

.journey-beginsinlasvegas p {
  font-size: 20px;
}


/* <!-- planing hotel section --> */

.hotel_f_card {
  text-align: center;
  border: 1px solid;
  height: 100%;
  padding: 30px 20px;
}
.hotel_f_card i {
  font-size: 26px;
  margin-bottom: 20px;
}



/***footer**/
.footer {
  background: var(--primary-color);
  padding: 40px 0 0;
  text-align: center;
}

.footer img {
  width: 150px;
  filter: brightness(0) invert(1);
}

footer ul {
  padding-left: 5px;
  padding-top: 10px;
}

footer h3 {
  color: #fff;
  font-size: 24px;
  margin: 40px 0 20px;
}

footer li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  display: block;
  text-transform: capitalize;
}

.footer_icon ul {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

.footer_icon li a {
  font-size: 26px;
}

.footer li a:hover {
  text-decoration: underline;
}

.footer_box ul li:not(:last-child) {
  margin-right: 22px;
}

.footer_box ul {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  padding-top: 0;
  justify-content: center;
  list-style: none;
}

footer .row {
  align-items: flex-end;
}

.footer_box a {
  line-height: 26px;
}

.footer_icon {
  background: #dfe6e9;
  padding: 10px 0;
}

.footer_icon li a {
  color: var(--primary-color);
}

footer ul.nav-list {
  margin-bottom: 25px;
}
/****cookies*****/
.cookie-alert {
  align-items: baseline;
  background: #fff;
  left: auto;
  position: fixed;
  width: 100%;
  z-index: 999;
  bottom: 0px;
  display: none;
  border-top: 2px solid var(--primary-color);
}

.cookie-alert.show {
  display: block;
  transform: translateY(0%);
  transition-delay: 1000ms;
}

.cookie-alert .card-body {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 3rem;
}

.cookie-content {
  width: 85%;
  padding-right: 10px;
}

.accept-btn {
  width: 15%;
}

.accept-cookies {
  display: block;
  text-align: center;
}

.cookie-content p {
  margin: 0;
  padding-right: 10px;
}
.cookie-content h4 {
  color: var(--primary-color);
}